body{
    /* background-color: #038373;
    background-color: #daa940; */
    margin: 0;
    width: 100%;
    height: 100vh;
}
header{
    margin: 0;
    position: relative;
    overflow: visible;
}

/*! Routes menu */
.routes {
    height: 150px; /* 100% Full-height */
    width: 100%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1010; /* Stay on top */
    top: -200px;
    background-color: rgba(17, 17, 17,.5); /* Black*/
    color: #b84348;
    padding-top: 2.2em; /* Place content 60px from the top */
    transition: .5s; /* 0.5 second transition effect to slide in the sidenav */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    overflow: auto;

}
.routeX{
    background-color: rgba(255, 251, 251, 0.9);
    height: 100px;
    width: 25%;
    min-width: 70px;
    max-width: 200px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;
    text-align: center; */
    margin-bottom: .3em;
    margin-left: .1em;
}

.routeContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-overflow: wrap;
    /* opacity: 0; */
}
.routeContainer img{
    height: 50px;
    width: 50px;
    transition: transform .1s;
    /* */
}
.routeContainer:hover{
    /* background-color: rgba(164, 67, 82,.5); */
    /* background-color: rgba(255, 251, 251, 0.5); */
    display: flex;
    align-items: center;
}
.routeContainer:hover img, .routeContainer:hover p{
    transform: scale(1.1); 
}
.routes p{
    font-weight: bold;
    margin: 0;
    transition: transform .1s;
}

#nomRuta{
    display: none;
    margin: 0;
    text-align: center;
    color: #daa940;
}

/*! Elevation Chart div */
#elevationOutline{
    margin: 0 auto;
    background-color: white;
    display: none;

    height: 150px; /* 100% Full-height */
    width: 98%; /* 0 width - change this with JavaScript */
    /* position: fixed;  Stay in place */
    /*z-index: 1010;  Stay on top */
    bottom: -200px;
    color: #b84348;
    transition: .5s; /* 0.5 second transition effect to slide in the sidenav */
}

/*! MAP Section */
.map-wrapper {
    position: relative;
}
/**? Map div */
#map{
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    padding: 6em;
    overflow: hidden;
}

/**? Option buttons div */
.button-wrapper {
    position: absolute;
    bottom: 40px;
    left: 30px;
    width: 17%;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.button-wrapper div{
    background-color: rgba(12,12,12,.2);
    padding: .3em;
    border-radius: 5px;
    font-weight: bold;
    color: #b84348;
    font-size: 1.5em;
}
.burger:hover, #weatherIcon:hover, #elevationIcon:hover{
    background-color: rgba(12,12,12,.3);
    color: #ec3942;
    cursor: pointer;
}

/**? Attribution div */
#attribution{
    margin-right: 3em;
    margin-bottom: 3em;
}

/**? Forecast div */
.forecastContainer{
    /* height: 2.5em;
    width: 100%; */
    position: absolute;
    top: 15px;
    left: 15%;
    width: 70%;
    background-color: white;
    opacity: .7;
    z-index: 10000;

    /* text-align: center;
    color: white; */
    display: none;
}
#forecast{
    height: 50px;
}
#weather{
    color: white;
    font-weight: bold;
    margin-top: 20px;
}


/**! MEDIAQUERIES **/

@media (max-width: 767px) {
    #map{
        box-sizing: border-box;
        height: 100vh;
        width: 100vw;
        padding: 6em;
        overflow: hidden;
        margin: 0;
    }
    .button-wrapper {
        bottom: 10px;
        left: 10px;
        width: 25%;
    }
    .button-wrapper div{
        padding: .2em;
        border-radius: 5px;
        font-size: 1.3em;
    }
    #elevationOutline{
        height: 90px;
        transition: all .5s; /* 0.5 second transition effect to slide in the sidenav */
    }
}
@media (max-width: 467px) {
    #map{
        box-sizing: border-box;
        height: 100vh;
        width: 100vw;
        padding: 6em;
        overflow: hidden;
        margin: 0;
    }
    .button-wrapper {
        bottom: 15px;
        left: 20px;
        width: 25%;
    }
    .button-wrapper div{
        padding: .2em;
        border-radius: 5px;
        font-size: 1.3em;
        margin-left: 1em;
    }
    #elevationOutline{
        height: 80px;
        transition: all .5s; /* 0.5 second transition effect to slide in the sidenav */
    }
}