body{
    /* background-color: #038373;
    background-color: #daa940; */
    background-image: url('../images/bg2-layered-waves-haikei.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    width: 100%;
    height: 100vh;
}
header{
    margin: 0;
    position: relative;
    overflow: visible;
}

/*! Route menu */
/* First we set the buttons within the map area */
.routes {
    position: relative;
    height: 150px; /* 100% Full-height */
    width: 100%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1010; /* Stay on top */
    top: -180px;
    background-color: rgba(17, 17, 17,.5); /* Black*/
    color: white;
    padding-top: 1em; /* Place content 60px from the top */
    transition: .5s; /* 0.5 second transition effect to slide in the sidenav */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    overflow: auto;

}
.routeX{
    background-color: rgba(17, 17, 17,.6);
    height: 100px;
    width: 25%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: .3em;
    margin-left: .1em;
}
.routeX:hover{
    background-color: rgba(164, 67, 82,.7);
    display: flex;
    align-items: center;
}
.routes li{
    list-style-type: none;
    width: 100%;
    height: 100%;
}
/* .fa-times{
    position: absolute;
    right: 10px;
    top: 0;
    margin: .2em;
    align-items: center;
    z-index: 1020;
} */
#cabecera{
    /* position: relative;
    font-family: 'Courier New', Courier, monospace;
    color: #daa940; */
    margin: 0;
    padding: 1em 0;
    text-align: center;
    overflow: visible;  
}
.textCabecera{
    color: #B84348;
    color: aliceblue;
}
/* #show{
    background-color: ;
    box-sizing: border-box;
    border-radius: 10%;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    color: beige;

} */
#nomRuta{
    display: none;
    margin: 0;
    text-align: center;
    color: #daa940;
}

/*! MAP Section */
.map-wrapper {
    width: 100%;
    height: 98vh;
    position: relative;
}
/**? Map div */
#map{
    box-sizing: border-box;
    height: 95%;
    width: 95%;
    margin: 1em auto;
    padding: 6em;
    border-radius: 5px;
    overflow: hidden;
}

/**? Option buttons div */
.button-wrapper {
    position: absolute;
    bottom: 40px;
    left: 30px;
    width: 12%;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.button-wrapper div{
    background-color: rgba(12,12,12,.2);
    padding: .3em;
    border-radius: 5px;
    font-weight: bold;
    color: #b84348;
    font-size: 1.5em;
}
.burger:hover, #weatherIcon:hover{
    background-color: rgba(12,12,12,.3);
    color: #ec3942;
    cursor: pointer;
}

/**? Attribution div */
#attribution{
    margin-right: 3em;
    margin-bottom: 3em;
}

/**? Forecast div */
.forecastContainer{
    /* height: 2.5em;
    width: 100%; */
    position: absolute;
    top: 15px;
    left: 15%;
    width: 70%;
    background-color: white;
    opacity: .7;
    z-index: 10000;

    /* text-align: center;
    color: white; */
    display: none;
}
#forecast{
    height: 50px;
}
#weather{
    color: white;
    font-weight: bold;
    margin-top: 20px;
}

/**? Elevation div */
#outline{
    margin: 0 auto;
    max-width: 90vw;
    display: none;
    background-color: white;
    margin-top: 2vh;
}

/*! Show button */
.button {
	display: block;
    width: 220px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 2vh;
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
    transform: translatez(0);
    text-decoration: none;
    box-sizing: border-box;
    font-size: 1.1em;
	font-weight: bold;
	box-shadow: 0 9px 18px rgba(0,0,0,0.2);
}

.instagram {
	text-align: center;
	border-radius: 50px;
    padding: 2vh;
    color: white;
    /* background: #daa940; */
    background: #daa940;
    transition: all 0.1s ease-out 0s;
}

.gradient {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: auto;
    margin: auto;
    z-index: -1;
    background: radial-gradient(90px circle at top center, rgba(238,88,63,.8) 30%, rgba(255,255,255,0));
    transition: all 0s ease-out 0s;
	transform: translatex(-140px);
	animation: 10s linear 0s infinite move;
}

@keyframes move {
	0% {
		transform: translatex(-140px);
	}
	25% {
		transform: translatex(140px);
		opacity: 0.3;
	}
	50% {
		transform: translatex(140px);
		opacity: 1;
		background: radial-gradient(90px circle at bottom center, rgba(238,88,63,.5) 30%, rgba(255,255,255,0));
	}
	75% {
		transform: translatex(-140px);
		opacity: 0.3;
	}
	100% {
		opacity: 1;
		transform: translatex(-140px);
		background: radial-gradient(90px circle at top center, rgba(238,88,63,.5) 30%, rgba(255,255,255,0));
	}
}

/*! Curves Design **/
/* .custom-shape-divider-top-1638356510 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1638356510 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 73px;
}

.custom-shape-divider-top-1638356510 .shape-fill {
    fill: #78dd9f;
} */

/**! MEDIAQUERIES **/

@media (max-width: 467px) {
    body{
        background-image: none;
    }
    #map{
        box-sizing: border-box;
        height: 100vh;
        width: 100vw;
        padding: 6em;
        overflow: hidden;
        margin: 0;
    }
    .button-wrapper {
        bottom: 45px;
        left: 10px;
        width: 17%;
    }
    .button-wrapper div{
        padding: .2em;
        border-radius: 5px;
        font-size: 1.3em;
        margin-left: 1em;
    }
}

@media (max-width: 767px) {
    body{
        background-image: none;
    }
    #map{
        box-sizing: border-box;
        height: 100vh;
        width: 100vw;
        padding: 6em;
        overflow: hidden;
        margin: 0;
    }
    .button-wrapper {
        bottom: 10px;
        left: 10px;
        width: 17%;
    }
    .button-wrapper div{
        padding: .2em;
        border-radius: 5px;
        font-size: 1.3em;
    }
}
